#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_auto_clean override_dh_auto_configure override_dh_installchangelogs

override_dh_auto_clean:
	rm -f nasl/nasl_grammar.output nasl/nasl_grammar.tab.c nasl/nasl_grammar.tab.h
	dh_auto_clean

override_dh_auto_configure:
	dh_auto_configure -- -DLOCALSTATEDIR=/var -DSYSCONFDIR=/etc -DLIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) -DINCLUDEDIR=/usr/include/$(DEB_HOST_MULTIARCH) -DREDIS_SOCKET_PATH=/var/run/redis/redis.sock -DGVM_PID_DIR=/var/run/gvm

override_dh_installchangelogs:
	dh_installchangelogs -k CHANGELOG.md

override_dh_auto_install:
	dh_auto_install
	rmdir debian/tmp/var/run/gvm

override_dh_auto_test:
	true

%:
	dh $@
